div{
	text-align: center;
}

body{
	background-image: url("../images/greenbg.jpg");
	background-size: cover;
}

#playerArea{
	padding: 3px;
}

#dealerArea{
	padding: 3px;
}

#resultText{
	font-family: "Calibri";
	font-size: 14px;
	color: white;
}

img{
	padding: 4px;
}

button{
	height: 40px;
	width: 75px;
	padding: 5px;
}
p{
	text-align: center;
	font-family: "Calibri";
	font-size: 16px;
	color: white;
}

#header{
	font-family: "Calibri";
	font-size: 30px;
}