div{
	text-align: center;
}

body{
	background-image: url("../images/greenbg.jpg");
	background-size: cover;
}

#dance{
	position: absolute;
}

#playerText{
	font-size: 20px;
}

#dealerText{
	font-size: 20px;
}

#playerArea{
	padding: 1px;
}

#dealerArea{
	padding: 1px;
}

#resultText{
	font-family: "Economica";
	font-size: 18px;
	color: papayawhip;
}

img{
	padding: 4px;
	align-content: center;
	position: relative;
}

button{
	margin-top: 10px;
	height: 40px;
	width: 75px;
	padding: 5px;
}
p{
	text-align: center;
	font-family: "Economica";
	color: white;
}

#header{
	font-family: "Economica";
	font-size: 50px;
}

#banker{
	font-family: "Economica";
	font-size: 26px;
	margin-bottom: 10px;
	color: white;
}